body {
background-image: linear-gradient(to left, #020413, #000);;
color: #FFFFFF;
}

.testimonial {
background: #fff;
text-align: center;
padding: 30px 30px 50px;
margin: 0 15px 100px;
position: relative;
}

.testimonial .description{
font-size: 15px;
color: #020413;
text-align: left;
margin-bottom: 30px;
opacity: 0.8;
}

.testimonial .testimonial-content{
width: 35%;
position: absolute;
left: 30%;
}

.testimonial .pic{
display: inline-block;
border: 2px solid #fff;
border-radius: 25px;
box-shadow: 0 0 2px 2px #020413;
overflow: hidden;
z-index: 1;
position: relative;
}

.testimonial .title{
font-size: 15px;
font-weight: bold;
color: #fff;
text-transform: capitalize;
margin: 0 0 5px 0;
}

.testimonial .post{
display: block;
font-size: 14px;
color: #ffd9b8;
}
.owl-theme .owl-controls{
margin-top: 10%;
}
.owl-theme .owl-controls .owl-page span{
width: 32px;
height: 10px;
background: #fff;
border: 2px solid #bd986b;
margin: 5px;
opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
background: #ffd9b8;
border-color: #fff;
}
@media only screen and (max-width: 650px) and (min-width: 400px){
.testimonial:before{ border-right: 325px solid transparent; }
.testimonial:after{ border-left: 325px solid transparent; }
}

body {margin: 0;}
        
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(to left, #020413, #000);
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #000;}

ul.topnav li a.active {background-color: #020413;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}